.navbar {
  width: fit-content;
  height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-yellow-6);
  color: var(--mantine-color-dark-9);
  

  @media (max-width: 450px) {
    display: none;
  }
}

.navbarMain {
  
  flex: 1;
  margin-top: rem(50px);
}