.link {
  width: rem(150);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: left;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-5));
  padding: 0 var(--mantine-spacing-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));

    &,
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
      color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
    }
  }
}

.label {
  margin-left: var(--mantine-spacing-sm);
  padding-bottom: rem(1);
  width: rem(100);
}

.icon {
  width: rem(20);
  height: rem(20);
}
