.account {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  align-items: center;
}
