.navbar {
  width: 100vw;
  height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-bottom: rem(3px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xl);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--mantine-spacing-md);
  width: 100vw;
  height: 75px;
  background-color: var(--mantine-color-yellow-6);
  color: var(--mantine-color-gray-9);
}

.logoText {
  font-family: Impact, monospace;
}

.nav {
  display: none;

  @media (max-width: 450px) {
    display: flex;
  }
}

.headerMenu {
  background-color: var(--mantine-color-yellow-6);
  color: var(--mantine-color-gray-9);
}

.drawer {
  background-color: var(--mantine-color-yellow-6);
  color: var(--mantine-color-gray-9);
  height: 100%;
}

.pad {
  height: 20px;
  width: 100%;
}
